<h4>Contact list</h4>

<div class='row'>
    <div class='container col-2 btn-group-vertical'>
        <% User.all.each do | u | %>
            <% unless u.id == @current_user.id %>
                <%= link_to "#{u.name}", chat_path(u), :class => "mb-2 btn btn-outline-secondary" %>
            <% end %>
        <% end %>
    </div>

    <div class='container col-10'>

        
    </div>

</div>