<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />



<ul>
<% @folders.each do | folder | %>
   <li><%= folder.name %>
      <ul>
         <% folder.uploads.each do | file | %>
            <% path = file.attachment.file.file %>
            <%= link_to file.name, path.slice((path.index('public/') + 'public/'.length - 1)..path.length) %>
         <% end %>
      </ul>
   </li>
<% end %>
</ul>




<%= link_to "Upload new file", new_upload_path, class: "btn btn-primary" %>
